<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://$USER_HOME$/Desktop/Course1/springjars/spring-context-3.2.0.RC2.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/Course1/springjars/spring-core-3.2.0.RC2.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/Course1/springjars/spring-expression-3.2.0.RC2.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/Course1/springjars/spring-beans-3.2.0.RC2.jar!/" />
      <root url="jar://$USER_HOME$/Desktop/Course1/springjars/com.springsource.org.apache.commons.logging-1.1.1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>